/* main element styles */

body{
	background-color: aqua;
}
header{
	background-color: yellow;
	/* display:; */

}
h1{
	text-align: center;
	font-size: 7rem;
	font-family: 'Sonsie One', cursive;
}

/* class styles */
.main-screen{
	display: grid;

	/* background-color: ; */

}

.player-name-display{

	font-family: 'Caveat', cursive;
	font-size: 5rem;
}
.dice1{
	/* display: grid; */
	width: 250px;
	height: 250px;
	background-color: blue;
	/* display: static; */
	position: fixed;
	background-image: url('./images/dice1.png');
	/* position: fixed; */
	/* image-rendering: pixelated; */
}
.dice2{
	/* display: grid; */
	width: 250px;
	height: 250px;
	background-color: blue;

	background-image: url('./images/dice2.png');
	/* image-rendering: pixelated; */
}
