

header{
	background-color: yellow;
	/* display:; */

}
h1{
	text-align: center;
	font-size: 7rem;
}
.main-screen{
	display: grid;

	/* background-color: ; */

}

.dice{
	display: grid;
	background-color: red;
	border-radius: 25%;
	grid-row-start: [first-row] 20px [column-1] 30px [space1-row] 20px ;
	grid-column: [first-col] 20px [row-1] 30px [space1-col] 20px;
}


/* #roll-1{}
#roll-2{}
#roll-3{}
#roll-4{}
#roll-5{}
#roll-6{} */